@import '../variable.scss';
.whathappened {
    background-image: url('../../asset/bg1.png');
    height: 575px;
    width: 100%;
}


.whContent {
    width: 680px;
    height: 240px;
    color: $White;
    padding: 170px;
}

.mb20 {
    margin-bottom: 30px;
}

@media only screen and (max-width : 740px){
    .whathappened {
        width: 100%;
        max-width: 740px;
    } 
    .whContent {
        width: 680px;
        height: 240px;
        padding: 100px 30px;
    }
}
//table
@media only screen and (min-width : 740px) and (max-width : 1024px){
    .whathappened {
        width: 100%;
        max-width: 1024px;
    } 
}
